In [ ]:
! pip install dnspython

Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/f5/2d/ae9e172b4e5e72fa4b3cfc2517f38b602cc9ba31355f9669c502b4e9c458/dnspython-2.1.0-py3-none-any.whl (241kB)
     |████████████████████████████████| 245kB 10.2MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [ ]:
from pymongo import MongoClient
import pymongo
from bson.objectid import ObjectId

db_url=""
client = MongoClient(db_url)

# See all databases: list(client.list_databases())
airbnb=client['sample_airbnb']['listingsAndReviews']
geospatial=client['sample_geospatial']['shipwrecks']
netflix=client['sample_mflix']
# theaters,comments, movies
supplies=client['sample_supplies']['sales']
training=client['sample_training']
companies=client['sample_training']['companies']
# grades, routes, trips, stories, inspections,companies, tweets, posts, zips
weather=client['sample_weatherdata']['data']
grades = training['grades'] 
movies = netflix.movies


# Post QUESTION 17
db2 = 'mongodb://m121:aggregations@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/aggregations?replicaSet=Cluster0-shard-0&authSource=admin&ssl=true' 
client2 = MongoClient(db2)
air_routes = client2.aggregations.air_routes
air_airlines = client2.aggregations.air_airlines
parent_reference = client2.aggregations.parent_reference
employees = client2.aggregations.employees
icecream_data = client2.aggregations.icecream_data
stocks = client2.aggregations.stocks
customers = client2.aggregations.customers
air_alliances = client2.aggregations.air_alliances
solarSystem = client2.aggregations.solarSystem
exoplanets = client2.aggregations.exoplanets
nycFacilities = client2.aggregations.nycFacilities

https://docs.mongodb.com/manual/reference/sql-aggregation-comparison/

## Question 1

Return the count of all the documents in the movies collection. Use the .find() and aggregation framework.

In [ ]:
movies.count_documents({})

23530

In [ ]:
# Syntax: {$group:{_id: <Matching criteria>}}

pipeline=[
    {"$group":{
        "_id":"",
        "count":{"$sum":1} 
    }}
]
list(movies.aggregate(pipeline))

[{'_id': '', 'count': 23530}]

## Question 2

Return the count of all the documents in the airbnb collection:

~~~
1) grouped by the "room_type"
~~~

In [ ]:
pipeline=[
    {"$group":{
        "_id":"$room_type", # if you're referring to a field then use $ in this case
        "count":{"$sum":1} 
    }}
]
list(airbnb.aggregate(pipeline))

[{'_id': 'Private room', 'count': 1983},
 {'_id': 'Entire home/apt', 'count': 3489},
 {'_id': 'Shared room', 'count': 83}]

In SQL, this would have been:





```
SELECT room_type,COUNT(*)
FROM airbnb
GROUP BY 1
```

## Question 3
Translate the following into MongoDB

~~~
SELECT room_type,
       SUM(price) AS total
FROM airbnb
GROUP BY room_type
~~~

In [ ]:
pipeline=[
    {"$group":{
        "_id":"$room_type", # if you're referring to a field then use $ in this case
        "total":{"$sum":"$price"} # total becomes the alias
    }}
]
list(airbnb.aggregate(pipeline))

[{'_id': 'Private room', 'total': Decimal128('420984.00')},
 {'_id': 'Shared room', 'total': Decimal128('29016.00')},
 {'_id': 'Entire home/apt', 'total': Decimal128('1098546.00')}]

## Question 4

In the airbnb collection, write the following query:
~~~
1) "property_type" of "Hostel"
2) GROUPED by "address.country"
3) SUM the number per grouping as "number_of_hostels"
4) SORT by number_of_hostels descending
~~~

In [ ]:
pipeline=[
          {
              "$match":{
                  "property_type":"Hostel"
              }
          },# The match part
    {"$group":{
        "_id":"$address.country", 
        "number_of_hostels":{"$sum":1} # {"$sum":1} --> acts like a COUNT
    }},
    {"$sort":{
        "number_of_hostels":-1,"_id":1 # Here _id refers to address.country
    }} # Sort part
]
list(airbnb.aggregate(pipeline))

[{'_id': 'Hong Kong', 'number_of_hostels': 12},
 {'_id': 'Turkey', 'number_of_hostels': 6},
 {'_id': 'Brazil', 'number_of_hostels': 5},
 {'_id': 'Portugal', 'number_of_hostels': 3},
 {'_id': 'Spain', 'number_of_hostels': 3},
 {'_id': 'United States', 'number_of_hostels': 2},
 {'_id': 'Canada', 'number_of_hostels': 2},
 {'_id': 'Australia', 'number_of_hostels': 1}]

## Question 5

In the movies collection, write the following query:
~~~
1) "genres" in the following values: "Short","Documentary"
2) GROUPED by "rated"
3) SUM the number per grouping as "count"
4) SORT by "count" descending
5) LIMIT to the top 5
~~~

In [ ]:
pipeline=[
          {
              "$match":{
                  "genres":{"$in":["Short","Documentary"]}
              }
          },# The match part
    {"$group":{
        "_id":"$rated", 
        "count":{"$sum":1}
    }},
    {"$sort":{
        "count":-1
    }}, # Sort part
    {"$limit":5}
]
list(movies.aggregate(pipeline))

[{'_id': None, 'count': 1684},
 {'_id': 'NOT RATED', 'count': 203},
 {'_id': 'R', 'count': 146},
 {'_id': 'PG-13', 'count': 122},
 {'_id': 'UNRATED', 'count': 115}]

In [ ]:
# If you didn't want the None to appear in your output:
pipeline=[
          {
              "$match":{
                  "genres":{"$in":["Short","Documentary"]},
                  "rated":{"$exists":True}
              }
          },# The match part
    {"$group":{
        "_id":"$rated", 
        "count":{"$sum":1}
    }},
    {"$sort":{
        "count":-1
    }}, # Sort part
    {"$limit":5}
]
list(movies.aggregate(pipeline))

[{'_id': 'NOT RATED', 'count': 203},
 {'_id': 'R', 'count': 146},
 {'_id': 'PG-13', 'count': 122},
 {'_id': 'UNRATED', 'count': 115},
 {'_id': 'PG', 'count': 114}]

In [ ]:
# If you didn't want the None to appear in your output:
pipeline=[
          {
              "$match":{
                  "genres":{"$in":["Short","Documentary"]},
                  
              }
          },# The match part
    {"$group":{
        "_id":"$rated", 
        "count":{"$sum":1}
    }},
    { #Equivalent to the HAVING clause in SQL
        "$match":{
            "_id":{"$ne":None}
        }
    },
    {"$sort":{
        "count":-1
    }}, # Sort part
    {"$limit":5}
]
list(movies.aggregate(pipeline))

[{'_id': 'NOT RATED', 'count': 203},
 {'_id': 'R', 'count': 146},
 {'_id': 'PG-13', 'count': 122},
 {'_id': 'UNRATED', 'count': 115},
 {'_id': 'PG', 'count': 114}]

## Question 6

In the companies collection, write the following query:
~~~
1) "founded_year" is greater than 2010
2) GROUP by "category_code", average the "number_of_employees" field as "employee_count", and the count the number of documents in the groupings as "company_count"
3) SORT by "employee_count" descending
4) LIMIT to 5 
5) PROJECT/Return "_id" as "category", "employee_count", "company_count"
~~~

In [ ]:
pipeline=[
          {
              "$match":{
                  "founded_year":{"$gt":2010}
              }
          },# The match part
    {"$group":{
        "_id":"$category_code", 
        "employee_count":{"$avg":"$number_of_employees"},
        "company_count":{"$sum":1}
    }},
    {"$sort":{
        "employee_count":-1
    }}, # Sort part
    {"$limit":5},
    {"$project":{ # Helpful in creating entirely new variables
        "category":"$_id", # Creating an alias creates a new document structure. so You need to use the $field_name
        "employee_count":1,
        "company_count":1
    }}
]
list(companies.aggregate(pipeline))

[{'_id': 'mobile',
  'category': 'mobile',
  'company_count': 6,
  'employee_count': 318.0},
 {'_id': 'education',
  'category': 'education',
  'company_count': 1,
  'employee_count': 55.0},
 {'_id': 'advertising',
  'category': 'advertising',
  'company_count': 2,
  'employee_count': 31.5},
 {'_id': 'software',
  'category': 'software',
  'company_count': 3,
  'employee_count': 30.0},
 {'_id': 'social',
  'category': 'social',
  'company_count': 1,
  'employee_count': 25.0}]

In [ ]:
pipeline=[
          {
              "$match":{
                  "founded_year":{"$gt":2010},
            
              }},# The match part
          {
              "$group":{
        "_id":"$category_code", 
        "employee_count":{"$avg":"$number_of_employees"},
        "company_count":{"$sum":1}
        }},
    {
        "$sort":{
        "employee_count":-1 # Here _id refers to address.country
    }} ,
    # Sort part
    {
        "$limit":5
    },
    {
        "$project":{"category":"$_id", "employee_count":1, "company_count":1,"_id":0}
    }
    
]
list(companies.aggregate(pipeline))

[{'category': 'mobile', 'company_count': 6, 'employee_count': 318.0},
 {'category': 'education', 'company_count': 1, 'employee_count': 55.0},
 {'category': 'advertising', 'company_count': 2, 'employee_count': 31.5},
 {'category': 'software', 'company_count': 3, 'employee_count': 30.0},
 {'category': 'social', 'company_count': 1, 'employee_count': 25.0}]

In [ ]:
list(
    companies.find({
        "category_code":"advertising",
        "founded_year":{"$gt":2010}
    },{
        "founded_year","category_code"
    }
    )
)

[{'_id': ObjectId('52cdef7c4bab8bd6752982d4'),
  'category_code': 'advertising',
  'founded_year': 2013},
 {'_id': ObjectId('52cdef7d4bab8bd67529891c'),
  'category_code': 'advertising',
  'founded_year': 2012}]

## Question 7 - multi-group

In the airbnb collection, write the following query:
~~~
1) GROUP all documents on the following values: "address.country", "room_type", "property_type". Calculate the average "price" as "price" and total the number of documents as "count" 
2) SORT on "count" descending
3) LIMIT to 5 results
~~~

In [ ]:
pipeline=[
    {"$group":{
        "_id":{
            "country":"$address.country",
            "room":"$room_type",
            "property":"$property_type"
        },
        "count":{"$sum":1},
        "price":{"$avg":"$price"} 
       
    }},
    {"$sort":{
        "count":-1
    }}, # Sort part
    {"$limit":5}
 
]
list(airbnb.aggregate(pipeline))

[{'_id': {'country': 'United States',
   'property': 'Apartment',
   'room': 'Entire home/apt'},
  'count': 375,
  'price': Decimal128('171.2453333333333333333333333333333')},
 {'_id': {'country': 'Brazil',
   'property': 'Apartment',
   'room': 'Entire home/apt'},
  'count': 346,
  'price': Decimal128('566.6763005780346820809248554913295')},
 {'_id': {'country': 'Portugal',
   'property': 'Apartment',
   'room': 'Entire home/apt'},
  'count': 345,
  'price': Decimal128('69.41739130434782608695652173913043')},
 {'_id': {'country': 'Canada',
   'property': 'Apartment',
   'room': 'Entire home/apt'},
  'count': 327,
  'price': Decimal128('100.6941896024464831804281345565749')},
 {'_id': {'country': 'Spain',
   'property': 'Apartment',
   'room': 'Entire home/apt'},
  'count': 267,
  'price': Decimal128('133.5655430711610486891385767790262')}]

## Question 8

In the companies collection, write the following query:
~~~
1) "founded_year" is greater than 1990
2) GROUP by the size of the "investments" field and "category_code", and return the count of these groupings as "count"
3) Return groupings HAVING only a "count" greater than 1, and "investments" size greater than 1
4) SORT by the size of "investments" descending, "count" descending, and "category" ascending
5) LIMIT to 3

~~~

In [ ]:
pipeline=[
          {
              "$match":{
                  "founded_year":{"$gt":1990},
            
              }},# The match part
    {"$group":{
        "_id": {
            "investments":{"$size":"$investments"},
            "category":"$category_code"
        },
        "count":{"$sum":1} 
    }},
    {"$match":{
        "count":{"$gt":1},
        "_id.investments":{"$gt":1}
    }
        
    },
    {"$sort":{
        "_id.investments":-1,
        "count":-1,
        "_id.category":1,

    }}, # Sort part. No $field here 
    {"$limit":3}
 
]
list(companies.aggregate(pipeline))

[{'_id': {'category': 'mobile', 'investments': 6}, 'count': 2},
 {'_id': {'category': 'web', 'investments': 3}, 'count': 3},
 {'_id': {'category': 'games_video', 'investments': 2}, 'count': 3}]

## Question 9

In the movies collection, write the following query:
~~~
1) GROUP by director array size, and return the count per grouping as "count"
2) FILTER on "count" greater than 1
3) SORT by director size
4) LIMIT to top 3 results
~~~

## Question 10 

In the movies collection, write the following query:
~~~
1) FILTER on "year" greater than 2000
2) UNWIND "genres"
3) GROUP by genres, sum up the count as "count" per grouping
4) SORT on count descending
5) LIMIT to 3
~~~

## Question 11

In the airbnb collection, write the following query:
~~~
1) FILTER on "property_type" of "Hostel"
2) UNWIND "amenities"
3) GROUP on "address.country", "amenities" and return the count of each grouping as "amenities_count"
4) FILTER on "amenities_count" greater than 4
5) SORT on "amenities_count" descending
~~~

## Question 12

In the airbnb collection, modify question 11 to include the following:
~~~
1) GROUP all the results by "country", sum the count of documents as "doc_count" and PUSH the results from the previous grouping into an array named "amenities" with the following values: "amenity" as "amenities" and "count" as "amenities_count"
2) SORT by doc_count descending
~~~

## Question 13

In the movies collection, write the following query:
~~~
1) FILTER on "type" of "movie", "awards.wins" greater than 1, and "cast" and "genres" exists
2) UNWIND "cast" and UNWIND "genres"
3) GROUP on "genres" as "genre", "cast" as "actor", and return the count of each grouping as "count" and create a unique set of the "title" and "awards.wins" field called "title" and "awards" respectively
4) PROJECT the "genre" field, "actor", and "count" field, and sum the "awards" as "awards_total"
5) SORT on "awards_total" descending
6) GROUP on "genre", and return the best actor in that genre with the following values: "actor", "awards_total" as "awards" and "count" as "movie_count"
7) SORT on "best_actor.awards" descending
8) LIMIT to 10 results
~~~

## Question 14

In the movies collection, write the following query:
~~~
1) FILTER on "type" of "movie", and "cast" and "genres" exists
2) UNWIND "cast" and UNWIND "directors"
3) GROUP "cast", "directors" as "actor" and "director" respectively, return the count of documents in the grouping as "number_of_collaborations" and sum of "awards.wins" as "awards_total"
4) SORT on "number_of_collaborations", "awards_total" descending for both
5) LIMIT to top 5 results
~~~

## Question 15

In the training["companies"] collection, write the following query. Note that "funding_rounds.investments" is an array within an array
~~~
1) FILTER where "funding_rounds" field exists
2) GROUP on "funding_rounds.investments.financial_org.name" and return the count per grouping as "count"
3) FILTER out groupings with value of None
4) SORT on "count" descending
5) LIMIT to top 5
~~~

## Question 16

In the airbnb collection, write the following query:
~~~
Find the top 5 reviewers by count, GROUP on "reviews.reviewer_name" &  "reviews.reviewer_id". "reviews" is an array of embeddded objects
~~~

## Question 17

In the  collection, write the following query:
~~~
Find the top 3 times when people are leaving the most reviews by "date" field and return the count. Limit to 3 results. "reviews" is an array field.
~~~

## Question 18

In the "air_alliances" collection, write the following query.
~~~
1) LOOKUP the local field of "airlines" field from the "air_airlines" collection "name" field as "airlines"
~~~

## Question 19

In the air_routes collection, write the following query.
~~~
1) FILTER on "src_airport" in the following: "ATL","LHR"
2) LOOKUP from "air_alliances" in "airlines" field the "airline.name" field in the "air_routes" collection as "alliance"
3) GROUP by the "alliance.name" field and return the count as "count"
4) SORT by "count" descending
~~~